{{if projectBaseFile}}
body, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, p, form {
  margin: 0
}

body, button, input, select, textarea {
  font: 12px/1.5 tahoma, '\5FAE\8F6F\96C5\9ED1', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%
}

em, b {
  font-style: normal
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline
}

img {
  border: 0
}

li {
  list-style: none;
}

button, input, select, textarea {
  font-size: 100%;
  outline: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td, th, ul, ol {
  padding: 0
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.clear {
  *zoom: 1;
}

body {
  min-width: 1200px;
  padding-top: 42px;
}
{{/if}}