{{if siteType === 'os'}}
  <div id="gfooter" ams="AMS地址[必填，询问对应内部重构]" age="年龄[询问对应内部重构或者产品]" dark="1" ieg-logo="1">
    <div class="foot_top"> any HTML code </div>
    <a target="_blank" href="http://www.qq.com/" title="logo1" class="foot_left logo1">logo1</a>
    <a target="_blank" href="http://www.qq.com/" title="logo2" class="foot_left logo2">logo2</a>
    <p class="copyright_txt">COPYRIGHT &©Smilegate Entertainment. All rights reserved.</p>
    <div  class="foot_bottom"> any HTML code </div>
  </div>

{{/if}}
  <script src="//game.gtimg.cn/images/js/2018foot/foot.js"></script>
