{{if projectBaseFile}}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  {{block 'meta'}}
  {{include '../comm/meta.html'}}
  {{/block}}
  {{block 'link'}}
  {{include '../comm/comm-css.html'}}
  {{/block}}
  <title>{{gameName}} - 手游官方网站 - 腾讯游戏</title>
  <!-- 设计：微聚科技  | 重构：微聚科技 | 创建：{{time}}  -->
  {{include '../comm/comm-jump.html'}}
</head>
<body>
  {{block 'script'}}
  {{if projectType.indexOf('PC')!= -1}}{{include '../comm/title.html'}}{{/if}}
  {{include '../comm/foot.html'}}
  {{if isAddPTT}}{{include '../comm/ptt.html'}}{{/if}}
  {{if projectType.indexOf('移动')!= -1}}{{include '../comm/share.html'}}{{/if}}
  {{if isAddDia}}{{include '../comm/dia.html'}}{{/if}}
  {{/block}}
</body>
</html>
{{/if}}